@use '../../../../variables';

.back-btn {
    font-size: 1.8rem;
}

.match-detail {
    .title {
      background-color: variables.$primary-color;
      padding: 0.5rem 1.5rem;
      color: #fff;
    }
    .body {
        background-color: variables.$secondary-color;

        input.transparent-input{
            display: inline-block;
            background-color: transparent;
            border: none;
            box-shadow: none;
            border-radius: 0;
            font-weight: bold;
            font-size: 3.5rem;
            text-align: center;
            width: 6rem;
            position: relative;
         }
    }
    .middle-stripe {
        font-weight: bold;
        width: 100%;
        font-size: 4rem;
    }
    .submit-btn{
        background-color: variables.$primary-color;
        color: white;
        border-radius: 0;
        border: 2px solid variables.$primary-color;
        &:hover{
            background-color: white;
            color: variables.$primary-color;
            border: 2px solid variables.$primary-color;
        }
    }

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .match-detail .body  {
        input.transparent-input {
                width: 18rem;
        }
     }


}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}