<div class="container-fluid py-5">
    <div class="row">
        <div class="col-12 pb-4 mx-3">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-link active" id="nav-beginner-tab" data-toggle="tab" href="#nav-beginner" role="tab"
                        aria-controls="nav-beginner" aria-selected="true">Beginner</a>
                    <a class="nav-link" id="nav-intermediate-tab" data-toggle="tab" href="#nav-intermediate" role="tab"
                        aria-controls="nav-intermediate" aria-selected="false">Half-gevorderden</a>
                    <a class="nav-link" id="nav-advanced-tab" data-toggle="tab" href="#nav-advanced" role="tab"
                        aria-controls="nav-advanced" aria-selected="false">Gevorderden</a>
                </div>
            </nav>
        </div>

        <div class="tab-content col-12 mx-3" id="nav-tabContent">
            <h2 class="title m-0 pl-5">Knockout fase</h2>
            <div class="tab-pane fade show active row d-flex justify-content-between p-4 m-0" id="nav-beginner" role="tabpanel" aria-labelledby="nav-beginner-tab">
                <div class="col-12">
                    <div class="row d-flex justify-content-between">
                        <div class="col-md-4 col-lg-3">
                            <h2>Kwart finale</h2>
                        </div>
                        <div class="col-md-4 col-lg-3 text-center">
                            <h2>Halve finale</h2>
                        </div>
                        <div class="col-md-4 col-lg-3 text-center">
                            <h2>Finale</h2>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4 col-lg-3">
                    <div class="row">
                        <div class="col-12 pb-3">
                            <h4 class="bracket-title m-0 shadow-sm">Match</h4>
                            <div class="bracket-item p-4">
                                <p>Melvin Giebels</p>
                                <p class="m-0">Pieter Bakker</p>
                            </div>
                        </div>
                        <div class="col-12 pb-5">
                            <h4 class="bracket-title m-0 shadow-sm">Match</h4>
                            <div class="bracket-item p-4">
                                <p>Melvin Giebels</p>
                                <p class="m-0">Pieter Bakker</p>
                            </div>
                        </div>
                        <div class="col-12 pb-3">
                            <h4 class="bracket-title m-0 shadow-sm">Match</h4>
                            <div class="bracket-item p-4">
                                <p>Melvin Giebels</p>
                                <p class="m-0">Pieter Bakker</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <h4 class="bracket-title m-0 shadow-sm">Match</h4>
                            <div class="bracket-item p-4">
                                <p>Melvin Giebels</p>
                                <p class="m-0">Pieter Bakker</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="row h-100 d-flex align-items-center">
                        <div class="col-12">
                            <h4 class="bracket-title m-0 shadow-sm">Match</h4>
                            <div class="bracket-item p-4">
                                <p>Melvin Giebels</p>
                                <p class="m-0">Pieter Bakker</p>
                            </div>
                        </div>
                        <div class="col-12">
                            <h4 class="bracket-title m-0 shadow-sm">Match</h4>
                            <div class="bracket-item p-4">
                                <p>Melvin Giebels</p>
                                <p class="m-0">Pieter Bakker</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="row h-100 d-flex align-items-center">
                        <div class="col-12">
                            <h4 class="bracket-title m-0 shadow-sm">Match</h4>
                            <div class="bracket-item p-4">
                                <p>Melvin Giebels</p>
                                <p class="m-0">Pieter Bakker</p>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>
            <div class="tab-pane fade row" id="nav-intermediate" role="tabpanel" aria-labelledby="nav-intermediate-tab">
                Hier komen de half gevorden poules
            </div>
            <div class="tab-pane fade row" id="nav-advanced" role="tabpanel" aria-labelledby="nav-advanced-tab">
                Hier komen de gevorderden poules
            </div>
        </div>
    </div>
</div>